.plan-wrapper {
  width: 100%;
  height: 1177px;

  padding: 16px 66px 0px 65px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans";
}
.tab:active {
  width: 114px;
  height: 28px;
  background: #89b850 0% 0% no-repeat padding-box;
  opacity: 1;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #ffffff;
  padding: 5px 21px 5px 14px;
}
.tab:hover {
  width: 114px;
  height: 28px;
  background: #89b850 0% 0% no-repeat padding-box;
  opacity: 1;

  font-size: 12px;

  font-weight: 600;
  letter-spacing: 0px;
  color: #ffffff;
  padding: 5px 21px 5px 14px;
}

.tab {
  background: #f2f2f2 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 114px;
  height: 28px;
  font-size: 12px;
  font-weight: 400;
  color: #c1c1c1;

  padding: 5px 13px 5px 13px;
}

.t-1 {
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  margin-top: 31px;
  margin-bottom: 0;
}
.current-plan-wrapper {
  width: 100%;
  height: 119px;
  padding: 16px 0px 16px 16px;
}

.current-plan {
  width: 100%;
}

.t2 {
  font-size: 14px;
  font-weight: 500;
  color: #292929;
  padding-bottom: 0;
}
.t3 {
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 0;
  white-space: nowrap;
}

.t4 {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #807e7e;
  margin-bottom: 0;
}

.t5 {
  font-size: 16px;
  font-weight: 700;
  color: #292929;
  margin-left: 8px;
}

.t6 {
  font-size: 25px;
  font-weight: 500;
  color: #041720;
  margin-bottom: 0;
}
.t7 {
  text-align: left;
  font-size: 30x;
  font-weight: 400;
  letter-spacing: 0px;
  color: #041720;
  margin-bottom: 0;
}

.t8 {
  font-size: 20px;
  font-weight: 500;
  color: #6d6d6d;
  margin-top: 100px;
  text-align: center;
}

.bussiness-plan > span {
  margin-top: 5px;
}
.bussiness-plan {
  margin-right: 286px;
  font-size: 16px;
  font-weight: 700;
  color: #292929;

  vertical-align: middle;
}

.text-danger {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #ff2339;
  margin-right: 186px;
  margin-bottom: 0;
}

.text-danger-1 {
  text-align: right;
  font-size: 16px;
  font-weight: 600;
  color: #ff0000;
}
.icon-1 {
  width: 35px;
  height: 21px;
  margin-right: 10px;
}

.icon-2 {
  margin-right: 8px;
}

.payment-container {
  padding: 26px 0px 25px 16px;
}

.note {
  margin-top: 8px;
  width: 329px;
  height: 52px;
  background: #ffe9e9 0% 0% no-repeat padding-box;
  border-radius: 8px;

  padding: 16px 15px 15px 16px;
}

.cards-wrapper {
  margin-top: 25px;
}

.card {
  width: 285px;
  height: 472px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 25px #00000029;
  border: 1px solid #dedede;
  border-radius: 4px;
  opacity: 1;

  padding: 20px 30px 23px 32px;
  margin-right: 20px;
  margin-top: 20px;
}

.card-middle {
  width: 279px;
  height: 509px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 25px #00000029;
  border: 1px solid #dedede;
  border-radius: 4px;
  opacity: 1;

  padding: 20px 30px 23px 32px;
  margin-right: 20px;
}
.perks-list {
  margin-top: 32px;
  list-style: none;
  margin-left: -37px;
}

.perks-list li img {
  margin-right: 11px;
}

.btn-upgrade {
  margin-top: 53px;
  width: 222px;
  height: 46px;
  border: 2px solid #89b850;
  border-radius: 5px;
  opacity: 1;
  font-size: 20px;
  font-weight: 400;
  color: #89b850;
}

/* ============================================ */
/* ======================================= */
/* ========================invoice page css */

.invoice-wrapper {
  width: 100%;
  height: 646px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000014;
  border-radius: 6px;

  padding: 22px 37px 81px 14px;
}

.unpaid-wrapper {
  width: 100%;
  min-height: 125px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #cecece29;
  border: 1px solid #dbdbdb;
  border-radius: 8px;

  padding-right: 9px;
  opacity: 1;

  padding: 22px 9px 22px 19px;

  margin-top: 34px;
}

.unpaid-wrapper .status {
  width: 75px;
  height: 27px;
  background: #ffe6e6 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  font-size: 16px;
  font-weight: 700;
  color: #ff0000;
  padding: 3px 7px 3px 8px;
}

.btn-view {
  float: right;
  width: 94px;
  height: 40px;
  background: #ebebeb 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  font-size: 16px;
  font-weight: 400;
  margin-right: 16px;

  border: none;
}

.btn-pay {
  width: 95px;
  height: 40px;
  background: #89b850 0% 0% no-repeat padding-box;
  border: 1px solid #89b850;
  border-radius: 4px;
  color: #ffffff;
  opacity: 1;

  margin-right: 17px;
}

.invoice-t5 {
  font-size: 16px;
  font-weight: 700;
  color: #292929;
}

.invoice-bussiness {
  margin-right: 15px;
  margin-top: 20px;
}

.status-paid {
  width: 75px;
  height: 27px;
  background: #c3ffb5 0% 0% no-repeat padding-box;
  border-radius: 2px;

  font-size: 16px;
  font-weight: 700;
  color: #2ac505;

  padding: 3px 19px 3px 19px;
}
.renew {
  margin-left: 26%;
}

/* ====================================== */
/* card details page csss */
/* ========================================= */

.card-details-wrapper {
  width: 1030px;
  height: 641px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000014;
  border-radius: 6px;
  padding-top: 22px;
  padding-left: 25px;
}

.card-detail {
  /* margin-top: 24px; */
}

.card-field-title {
  font-size: 12px;
  font-weight: 400;
  color: #3e3e3e;
  margin-bottom: 0;
}

.card-detail input {
  width: 186px;
  height: 36px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  opacity: 1;
  margin-top: 6px;

  text-align: left;
  font-size: 12px;
  font-weight: 400;
  color: #aeaeae;

  padding: 10px 0px 9px 12px;
}

.card-details-fields {
  margin-right: 18px;
}

.card-field-wrapper {
  width: 387px;
  min-height: 59px;
}
.btn-edit {
  width: 84px;
  height: 27px;
  background: #89b850;
  border: 1px solid #89b850;
  border-radius: 4px;
  opacity: 1;
  float: right;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: 35px;
}

/* modal */
.payment-info-modal .modal-content {
  /* padding: 0px 21px 25px 24px; */
  width: 445px !important;
  min-height: 425px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  padding-left: 10px;
}

.payment-info-modal label {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  color: #000000;

  margin-right: 29px;
}

.payment-info-modal input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  margin-top: 4px !important;
  width: 17px !important;
  height: 17px !important;
  margin-right: 7px;
}

.payment-info-modal .modal-header {
  display: -ms-flexbox;
  display: flex !important;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 0px solid #e9ecef !important;
  border-top-left-radius: 0.3rem;
  color: #000000;

  border-top-right-radius: 0.3rem;
}

.payment-info-modal .payment-type-text {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  color: #000000;

  margin-bottom: 0;
}

.payment-info-modal .radio-wrapper {
  margin-top: 16px;
}

.payment-info-modal .form-field-label {
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  color: #3e3e3e;
  margin-bottom: 0;
}

.payment-info-modal .form-fields {
  margin-top: 24px;
}

.payment-info-modal .form-fields input {
  width: 187px !important;
  height: 36px !important;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  margin-right: 18px;

  font-size: 12px;
  font-weight: 400;
  color: #aeaeae;
  padding-left: 12px;

  margin-right: 0px;
}

.payment-info-modal .auto-renew-sec {
  margin-top: 24px !important;
}

.payment-info-modal .btns-wrapper {
  text-align: right;
  margin-right: 23px;

  float: right;
}
.payment-info-modal .field {
  margin-left: 18px !important;
}

.payment-info-modal .btn-cancel {
  width: 84px;
  height: 27px !important;
  background: #c9d6b8 0% 0% no-repeat padding-box;
  border-radius: 4px;

  border: none;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}

.payment-info-modal .btn-confirm {
  width: 126px;
  height: 27px;
  background: #89b850 0% 0% no-repeat padding-box;
  border-radius: 4px;
  border: none;
  font-size: 12px;
  font-weight: 400;
  margin-left: 12px;

  color: #ffffff;
}

.payment-info-modal .close {
  float: right;
  font-size: 27px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 1 !important;
  height: 18px !important;
  font-size: 38px !important;
  border: none !important;
}

.payment-info-modal .modal-header .close {
  padding-top: 9px !important;
  margin: -1rem -1rem -1rem auto;

  border: none !important;
}

.payment-info-modal .modal-header .close {
  padding-top: 9px !important;
  margin: -1rem -1rem -1rem auto;

  border: none !important;
}

button:focus {
  outline: 1px dotted;
  outline: 0px auto -webkit-focus-ring-color !important;
}

#banktransfer {
  display: none;
}

.payment-info-modal,
select {
}

.payment-info-modal,
select:focus {
}

.payment-info-modal,
select:active {
}

select:focus {
  outline: 1px dotted;
  outline: 0px auto -webkit-focus-ring-color !important;
}

.payment-info-modal .banktransfer .form-fields input {
  text-align: left !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  color: #000000 !important;
}

.payment-info-modal input:focus {
  outline: 1px dotted;
  outline: 0px auto -webkit-focus-ring-color !important;
}

.payment-info-modal .banktransfer .payment-date-pick {
  width: 181px !important;
}

.payment-info-modal .invoice-container {
  margin-top: 16px !important;
}

.payment-info-modal .drag-drop {
  width: 180px;
  height: 118px;
  background: #f5f9ff 0% 0% no-repeat padding-box;
  border: 1px dashed #337ddc;
  border-radius: 4px;
  opacity: 1;
  cursor: pointer;
  padding: 13px 21px 13px 21px;
  text-align: center;

  margin-top: 8px;

  margin-bottom: 24px;
}
.payment-info-modal .drag-drop input {
  display: none;
}
.payment-info-modal .drag-drop .browse {
  color: #337ddc;
  border-bottom: 1px solid #337ddc;
}
.payment-info-modal .drag-drop .title {
  font-size: 12px;
  font-weight: 400;
  color: #092034;

  margin-top: 12px;
}

.payment-info-modal .banktransfer .btn-cancel {
  width: 62px;
  height: 27px;
  background: #c9d6b8 0% 0% no-repeat padding-box;
  border-radius: 4px;

  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}
.payment-info-modal .banktransfer .btn-submit {
  width: 74px;
  height: 27px;
  background: #89b850 0% 0% no-repeat padding-box;
  border-radius: 4px;
  border: none;

  font-size: 12px;

  color: #ffffff;
  margin-left: 12px;
}

.payment-info-modal .banktransfer .input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group
  > .input-group-prepend:first-child
  > .input-group-text:not(:first-child),
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text {
  border-top-left-radius: 0;
  border: none !important;
  border-bottom-left-radius: 0 !important;
  top: -37px !important;
  left: 92px !;
}

.confirmation-modal {
}

.confirmation-modal .modal-content {
  width: 300px;
  height: 167px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
  opacity: 1;
  width: 300px;
  height: 167px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
  opacity: 1;
}

.confirmation-modal .modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 0px solid #e9ecef !important;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.confirmation-modal .success-text {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #89b850;
  padding-bottom: 0;
}

.confirmation-modal .description-type {
  font-size: 12px;
  font-weight: 500;
  color: #343434;

  text-align: center;
  margin-bottom: 0;
}

.confirmation-modal .btn-close {
  text-align: center;
  width: 67px;
  height: 27px;
  background: #89b850 0% 0% no-repeat padding-box;
  border-radius: 4px;

  float: right;
  border: none;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}
.confirmation-modal .success-description {
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  color: #343434;
  margin-bottom: 0;
}

.confirmation-modal .success-icon {
  top: -71px;
  left: 106px;
  /* text-align: center; */
  position: absolute;
}

/* ======================================= */
/* invoice details model */
/* ========================================== */
table tr td,
table tr th {
  border: 1px solid #000000;
  border-collapse: collapse;
  padding: 5px 8px;
}

table {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
  font-size: 14px;
}

.print-wrapper {
  padding: 10px 30px;
  border: 1px solid white;
  box-shadow: 4px 2px 5px 1px rgba(235, 225, 225, 0.49);
  min-height: 300mm;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 150px;
  margin-bottom: 50px;
}

.header .header-details p {
  margin: 0;
  font-size: 12px;
  margin-bottom: 1px;
}

.header .header-details h1 {
  margin: 0;
  color: #81ba5d;
  font-size: 24px;
  font-weight: 500;
}

.header .header-details-ar h1 {
  font-size: 30px !important;
}

.header .header-details-ar p {
  font-size: 15px !important;
}

.invoice-details-header {
  text-align: center;
}

.invoice-details-header h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.invoice-details-header h1:last-child {
  font-weight: 500;
}

.customer-details {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.customer-details p {
  margin: 10px;
}

.line-items {
  margin-top: 0px;
  color: #2b2c3a;
}

.line-items .line-items-header {
  background: #969696;
  height: 40px;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  padding: 0 15px;
}

.line-items table {
  width: 100%;
  font-size: 14px;
}

.line-items th {
  background: #5c5c5c;
  color: #ffffff;
  font-weight: 500;
}

.summary-header {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 18px;
}

.summary .list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
}

.summary .divider-right {
  border-bottom: 2px solid #a7a9ac;
  text-align: center;
  flex: 1;
}

.footer {
  margin-top: 80px;
  text-align: center;
  font-size: 12px;
}

.line-items table tr td,
.line-items table tr th {
  border: 0;
  border-right: 2px solid #b7b9bc;
  border-bottom: 2px solid #b7b9bc;
  border-collapse: collapse;
}

.line-items table tr td:last-child,
.line-items table tr th:last-child {
  border-right: 0 !important;
}

.line-items table tr:last-child td,
.line-items table tr:last-child th {
  border-bottom: 0 !important;
}

.line-items table {
  width: 100%;
  border: 2px solid #100708;
  border-collapse: collapse;
}

.invoice-modal .btn-print {
  width: 78px;
  height: 36px;
  border: 1px solid #89b850;
  border-radius: 4px;
  margin-right: 16px;
}

.invoice-modal .btn-invoice {
  width: 140px !important;
  height: 36px !important;
  background: #89b850 0% 0% no-repeat padding-box;
  border-radius: 4px;

  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;

  border: none;
}

.invoice-modal .modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 0px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.invoice-modal .close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  font-size: 33px;
  text-shadow: 0 1px 0 #fff;
  opacity: 1;
}
.invoice-modal .invoice-btns-wrapper {
  margin-left: 32px;
}

.invoice-modal .modal-title {
  margin-left: 31px;
  margin-bottom: 0;
  line-height: 1.5;
  margin-bottom: 0;

  text-align: left;
  font-size: 16px;

  font-weight: 700;
  color: #000000;
  margin-top: 10px;
}

table tr td,
table tr th {
  border: 0px solid #000000 !important;
  border-collapse: collapse;
  padding: 5px 8px;
}

table {
  width: 100%;
  border: none !important;
  border-collapse: collapse;
  font-size: 14px;
}
